@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  /* overflow: hidden; */
  background-color: #161625;
  color: white;
}
