@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  color: white;
}
.container {
  background-color: #161625;
  display: grid;
  grid-template-columns: 0.7fr 2fr 9fr;
  height: 100vh;
}
.server {
  background-color: #30303d;
}
.channels {
  background-color: #1e1e30;
}
.chat-body {
  background-color: #27274e;
  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
}
.chat-body-header {
  background-color: blue;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.chat-footer {
  background-color: rgb(47, 47, 56);
  display: grid;
  grid-template-columns: 9fr 1fr;
}
