@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: #161625;
  color: white;
  overflow: scroll;
}
