::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e30;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d2d47;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565f89;
}
.container {
  background-color: #161625;
  display: grid;
  grid-template-columns: 0.7fr 2fr 10fr;
  width: 100vw;
}
.channels {
  background-color: #1e1e30;
}
.chat-body {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
.chat-body-header {
  background-color: #1e1e30;
  display: grid;
  grid-template-columns: 8fr 2fr;
}
.chat-footer {
  border-top: 2px solid #26263d;
}

.codeDiv {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(35, 43, 69, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
