.container {
  background-color: #161625;
  display: grid;
  grid-template-columns: 0.7fr 2fr 9fr;
  min-height: 100vh;
}
.server {
  /* background-color: #30303d; */
}
.channels {
  background-color: #1e1e30;
}
.chat-body {
  /* background-color: #27274e; */
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
}
.chat-body-header {
  background-color: #1e1e30;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.chat-footer {
  /* background-color: rgb(47, 47, 56); */
  border-top: 2px solid #26263d;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
