.loginBody {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181818;
}

.loginContainer {
  width: 50vh;
  height: 50vh;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
